<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  	<!-- Mapping connexion utilisateur -->
	<servlet>
		<servlet-name>connexionOperateur</servlet-name>
		<servlet-class>Controlleur.ConnexionOperateur</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>connexionOperateur</servlet-name>
		<url-pattern>/connexionOperateur</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deconnexionOperateur</servlet-name>
		<servlet-class>Controlleur.DeconnexionOperateur</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deconnexionOperateur</servlet-name>
		<url-pattern>/deconnexionOperateur</url-pattern>
	</servlet-mapping>
	
	<!--  Mapping connexion douchette -->
	<servlet>
		<servlet-name>scannerPiece</servlet-name>
		<servlet-class>Controlleur.ScannerPiece</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>scannerPiece</servlet-name>
		<url-pattern>/scannerPiece</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping magasin -->
	<servlet>
		<servlet-name>enregistrerPieceMagasin</servlet-name>
		<servlet-class>Controlleur.EnregistrerPieceMagasin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enregistrerPieceMagasin</servlet-name>
		<url-pattern>/enregistrerPieceMagasin</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping metrologie -->
	<servlet>
		<servlet-name>enregistrerPieceMetrologie</servlet-name>
		<servlet-class>Controlleur.EnregistrerPieceMetrologie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>enregistrerPieceMetrologie</servlet-name>
		<url-pattern>/enregistrerPieceMetrologie</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping les fiches -->
	<servlet>
		<servlet-name>lancerFicheSuiveuse</servlet-name>
		<servlet-class>Controlleur.LancerFicheSuiveuse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lancerFicheSuiveuse</servlet-name>
		<url-pattern>/lancerFicheSuiveuse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>lancerListeAServir</servlet-name>
		<servlet-class>Controlleur.LancerListeAServir</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>lancerListeAServir</servlet-name>
		<url-pattern>/lancerListeAServir</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>listeDesManquants</servlet-name>
		<servlet-class>Controlleur.ListeDesManquants</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>listeDesManquants</servlet-name>
	<url-pattern>/listeDesManquants</url-pattern>
	</servlet-mapping>
	<!--Mapping R&D -->
	<servlet>
		<servlet-name>modifierPieceRD</servlet-name>
		<servlet-class>Controlleur.ModifierPieceRD</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>modifierPieceRD</servlet-name>
		<url-pattern>/modifierPieceRD</url-pattern>
	</servlet-mapping>
	<!--  Piece en cours -->
	<servlet>
		<servlet-name>listePieceEnCours</servlet-name>
		<servlet-class>Controlleur.ListePieceEnCours</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listePieceEnCours</servlet-name>
		<url-pattern>/listePieceEnCours</url-pattern>
	</servlet-mapping>
	<!-- Mapping MAJ des fiches suiveuse -->
	<servlet>
		<servlet-name>majFicheSuiveuse</servlet-name>
		<servlet-class>Controlleur.MajFicheSuiveuse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>majFicheSuiveuse</servlet-name>
		<url-pattern>/majFicheSuiveuse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>chargerFicheSuiveuse</servlet-name>
		<servlet-class>Controlleur.ChargerFicheSuiveuse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chargerFicheSuiveuse</servlet-name>
		<url-pattern>/chargerFicheSuiveuse</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping Fiche qualite -->
	<servlet>
		<servlet-name>ficheQualitePiece</servlet-name>
		<servlet-class>Controlleur.FicheQualitePiece</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ficheQualitePiece</servlet-name>
		<url-pattern>/ficheQualite</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>valideFicheQualite</servlet-name>
		<servlet-class>Controlleur.ValideFicheQualite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>valideFicheQualite</servlet-name>
		<url-pattern>/valideFicheQualite</url-pattern>
	</servlet-mapping>
	
	<!-- Mapping stockage piece -->
	<servlet>
		<servlet-name>envoyerPiece</servlet-name>
		<servlet-class>Controlleur.EnvoyerPiece</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>envoyerPiece</servlet-name>
		<url-pattern>/envoyerPiece</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>entreposerPiece</servlet-name>
		<servlet-class>Controlleur.EntreposerPiece</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>entreposerPiece</servlet-name>
		<url-pattern>/entreposerPiece</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>chercherPiece</servlet-name>
		<servlet-class>Controlleur.ChercherPiece</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>chercherPiece</servlet-name>
		<url-pattern>/chercherPiece</url-pattern>
	</servlet-mapping>

		
</web-app>